@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
  background-color: rgb(96, 154, 231);
  font-family: 'Kanit', sans-serif;
}

.card {
  margin: 1.5rem 0.75rem 1.5rem 0.75rem;
}

a {
  text-decoration: none;
}

.text-manu {
  color: black;
}
