@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: rgb(96, 154, 231);    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.card {
    margin: 1.5rem 0.75rem 1.5rem 0.75rem;
}

.text-manu {
    text-align: center;
    color: black;
}



.main {
    text-align: center;
    width: 90%;
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in;
}