@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
  background-color: rgb(96, 154, 231);
  font-family: 'Kanit', sans-serif;
}

.card {
  margin: 1.5rem 0.75rem 1.5rem 0.75rem;
}

a {
  text-decoration: none;
}

.text-manu {
  color: black;
}

ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  min-width: 100%;
  overflow-x: auto;
}
ul.images li {
  display: inline;
  width: 150px;
}

.img-row {
  width: 150px;
}

li {
  margin-right: 2rem;
}

.btn-danger {
  margin-top: -5rem;
}

a {
  padding: 10px;
  background-color: orange;
  color: white;
  text-decoration: none;
}

canvas {
  display: none;
}
